debian/*
!debian/cfs-tweak.service
!debian/changelog
!debian/control
!debian/copyright
!debian/cosmic-comp.install
!debian/postinst
!debian/rules
!debian/source
.cargo
target
vendor
vendor.tar
.vscode
*.log
/result
