[package]
name = "cosmic-comp"
version = "0.1.0"
edition = "2021"
license = "GPL-3.0-only"
authors = ["Victoria Brekenfeld"]

[dependencies]
apply = "0.3.0"
anyhow = { version = "1.0.51", features = ["backtrace"] }
bitflags = "1.3.2"
bytemuck = "1.12"
calloop = { version = "0.10.1", features = ["executor"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sendfd = "0.4.1"
egui = { version = "0.21.0", optional = true }
renderdoc = { version = "0.10.1", optional = true }
edid-rs = { version = "0.1" }
png = "0.17.5"
lazy_static = "1.4.0"
log-panics = { version = "2", features = ["with-backtrace"] }
thiserror = "1.0.26"
regex = "1"
xcursor = "0.3.3"
xkbcommon = "0.4"
indexmap = "1.8.0"
xdg = "^2.1"
ron = "0.7"
libsystemd = { version = "0.5", optional = true }
wayland-backend = "0.1.0"
wayland-scanner = "0.30.0"
cosmic-protocols = { git = "https://github.com/pop-os/cosmic-protocols", branch = "main", default-features = false, features = ["server"] }
libcosmic = { git = "https://github.com/pop-os/libcosmic", rev = "5765053", default-features = false, features = ["tiny_skia"] }
iced_tiny_skia = { git = "https://github.com/pop-os/libcosmic", rev = "5765053" }
tiny-skia = "0.9"
ordered-float = "3.0"
glow = "0.11.2"
tracing-subscriber = { version = "0.3.16", features = ["env-filter", "tracing-log"] }
tracing-journald = "0.3.0"
tracing = { version = "0.1.37", features = ["max_level_debug", "release_max_level_info"] }
puffin = { version = "0.14.3", optional = true }
puffin_egui = { version = "0.21.0", optional = true }
cosmic-time = { git = "https://github.com/pop-os/cosmic-time", rev = "35dd0b8", default-features = false, features = ["libcosmic"] }
once_cell = "1.18.0"

[dependencies.id_tree]
git = "https://github.com/Drakulix/id-tree.git"
branch = "feature/copy_clone"

[dependencies.smithay]
version = "0.3"
git = "https://github.com/smithay/smithay.git"
rev = "138921bff4"
default-features = false
features = ["backend_drm", "backend_gbm", "backend_egl", "backend_libinput", "backend_session_libseat", "backend_udev", "backend_winit", "backend_vulkan", "backend_x11", "desktop", "use_system_lib", "renderer_glow", "renderer_multi", "wayland_frontend", "xwayland"]

[dependencies.smithay-egui]
git = "https://github.com/Smithay/smithay-egui.git"
rev = "197606f400"
features = ["svg"]
optional = true

[features]
default = ["systemd"]
systemd = ["libsystemd"]
debug = ["egui", "smithay-egui", "renderdoc", "puffin", "puffin_egui", "anyhow/backtrace"]

[profile.dev]
lto = "thin"

[profile.fastdebug]
inherits = "release"
debug = true

[profile.release]
lto = "fat"

[patch."https://github.com/Smithay/smithay.git"]
smithay = { git = "https://github.com/smithay//smithay", rev = "43ce6b4372" }

[patch."https://github.com/pop-os/libcosmic.git"]
iced = { git = "https://github.com/pop-os/iced.git", branch = "runtime-state-operate" }
iced_accessibility = { git = "https://github.com/pop-os/iced.git", branch = "runtime-state-operate" }
iced_core = { git = "https://github.com/pop-os/iced.git", branch = "runtime-state-operate" }
iced_futures = { git = "https://github.com/pop-os/iced.git", branch = "runtime-state-operate" }
iced_graphics = { git = "https://github.com/pop-os/iced.git", branch = "runtime-state-operate" }
iced_renderer = { git = "https://github.com/pop-os/iced.git", branch = "runtime-state-operate" }
iced_runtime = { git = "https://github.com/pop-os/iced.git", branch = "runtime-state-operate" }
iced_sctk = { git = "https://github.com/pop-os/iced.git", branch = "runtime-state-operate" }
iced_style = { git = "https://github.com/pop-os/iced.git", branch = "runtime-state-operate" }
iced_tiny_skia = { git = "https://github.com/pop-os/iced.git", branch = "runtime-state-operate" }
iced_wgpu = { git = "https://github.com/pop-os/iced.git", branch = "runtime-state-operate" } 
iced_widget = { git = "https://github.com/pop-os/iced.git", branch = "runtime-state-operate" } 
iced_winit = { git = "https://github.com/pop-os/iced.git", branch = "runtime-state-operate" } 
