(
    key_bindings: {
        (modifiers: [Logo, Shift], key: "Escape"): Terminate,
        (modifiers: [Logo], key: "Escape"): Debug,
        (modifiers: [Logo], key: "q"): Close,
        (modifiers: [Logo], key: "1"): Workspace(1),
        (modifiers: [Logo], key: "2"): Workspace(2),
        (modifiers: [Logo], key: "3"): Workspace(3),
        (modifiers: [Logo], key: "4"): Workspace(4),
        (modifiers: [Logo], key: "5"): Workspace(5),
        (modifiers: [Logo], key: "6"): Workspace(6),
        (modifiers: [Logo], key: "7"): Workspace(7),
        (modifiers: [Logo], key: "8"): Workspace(8),
        (modifiers: [Logo], key: "9"): Workspace(9),
        (modifiers: [Logo], key: "0"): Workspace(0),
        (modifiers: [Logo, Shift], key: "1"): MoveToWorkspace(1),
        (modifiers: [Logo, Shift], key: "2"): MoveToWorkspace(2),
        (modifiers: [Logo, Shift], key: "3"): MoveToWorkspace(3),
        (modifiers: [Logo, Shift], key: "4"): MoveToWorkspace(4),
        (modifiers: [Logo, Shift], key: "5"): MoveToWorkspace(5),
        (modifiers: [Logo, Shift], key: "6"): MoveToWorkspace(6),
        (modifiers: [Logo, Shift], key: "7"): MoveToWorkspace(7),
        (modifiers: [Logo, Shift], key: "8"): MoveToWorkspace(8),
        (modifiers: [Logo, Shift], key: "9"): MoveToWorkspace(9),
        (modifiers: [Logo, Shift], key: "0"): MoveToWorkspace(0),
        (modifiers: [Logo], key: "Left"): Focus(Left),
        (modifiers: [Logo], key: "Right"): Focus(Right),
        (modifiers: [Logo], key: "Up"): Focus(Up),
        (modifiers: [Logo], key: "Down"): Focus(Down),
        (modifiers: [Logo], key: "h"): Focus(Left),
        (modifiers: [Logo], key: "j"): Focus(Down),
        (modifiers: [Logo], key: "k"): Focus(Up),
        (modifiers: [Logo], key: "l"): Focus(Right),
//TODO: automatic orientation with Logo+o toggling
        (modifiers: [Logo], key: "v"): Orientation(Vertical),
        (modifiers: [Logo], key: "o"): Orientation(Horizontal),
        (modifiers: [Logo], key: "y"): ToggleTiling,
        (modifiers: [Logo], key: "g"): ToggleWindowFloating,
        (modifiers: [Logo, Shift], key: "f"): Fullscreen,
        (modifiers: [Logo, Shift], key: "s"): Screenshot,
        //TODO: ability to select default web browser
        (modifiers: [Logo], key: "b"): Spawn("firefox"),
        //TODO: ability to select default file browser
        (modifiers: [Logo], key: "f"): Spawn("nautilus"),
        //TODO: ability to select default terminal
        (modifiers: [Logo], key: "t"): Spawn("gnome-terminal"),
        (modifiers: [Logo], key: "a"): Spawn("busctl --user call com.system76.CosmicAppletHost /com/system76/CosmicAppletHost com.system76.CosmicAppletHost Toggle s 'com.system76.CosmicAppLibrary'"),
        (modifiers: [Logo], key: "slash"): Spawn("busctl --user call com.system76.CosmicAppletHost /com/system76/CosmicAppletHost com.system76.CosmicAppletHost Toggle s 'com.system76.CosmicLauncher'"),
        (modifiers: [], key: "XF86AudioRaiseVolume"): Spawn("amixer sset Master 5%+"),
        (modifiers: [], key: "XF86AudioLowerVolume"): Spawn("amixer sset Master 5%-"),
        (modifiers: [], key: "XF86AudioMute"): Spawn("amixer sset Master toggle"),
        (modifiers: [], key: "XF86MonBrightnessUp"): Spawn("busctl --user call com.system76.CosmicSettingsDaemon /com/system76/CosmicSettingsDaemon com.system76.CosmicSettingsDaemon IncreaseDisplayBrightness"),
        (modifiers: [], key: "XF86MonBrightnessDown"): Spawn("busctl --user call com.system76.CosmicSettingsDaemon /com/system76/CosmicSettingsDaemon com.system76.CosmicSettingsDaemon DecreaseDisplayBrightness"),
    },
    workspace_mode: OutputBound,
    floating_default: false,
)
