(
    key_bindings: {
        (modifiers: [Super, Shift], key: Some("Escape")): Terminate,
        (modifiers: [Super], key: Some("Escape")): Debug,
        (modifiers: [Super], key: Some("q")): Close,

        (modifiers: [Super], key: Some("1")): Workspace(1),
        (modifiers: [Super], key: Some("2")): Workspace(2),
        (modifiers: [Super], key: Some("3")): Workspace(3),
        (modifiers: [Super], key: Some("4")): Workspace(4),
        (modifiers: [Super], key: Some("5")): Workspace(5),
        (modifiers: [Super], key: Some("6")): Workspace(6),
        (modifiers: [Super], key: Some("7")): Workspace(7),
        (modifiers: [Super], key: Some("8")): Workspace(8),
        (modifiers: [Super], key: Some("9")): Workspace(9),
        (modifiers: [Super], key: Some("0")): LastWorkspace,
        (modifiers: [Super, Shift], key: Some("1")): MoveToWorkspace(1),
        (modifiers: [Super, Shift], key: Some("2")): MoveToWorkspace(2),
        (modifiers: [Super, Shift], key: Some("3")): MoveToWorkspace(3),
        (modifiers: [Super, Shift], key: Some("4")): MoveToWorkspace(4),
        (modifiers: [Super, Shift], key: Some("5")): MoveToWorkspace(5),
        (modifiers: [Super, Shift], key: Some("6")): MoveToWorkspace(6),
        (modifiers: [Super, Shift], key: Some("7")): MoveToWorkspace(7),
        (modifiers: [Super, Shift], key: Some("8")): MoveToWorkspace(8),
        (modifiers: [Super, Shift], key: Some("9")): MoveToWorkspace(9),
        (modifiers: [Super, Shift], key: Some("0")): MoveToLastWorkspace,

        (modifiers: [Super, Ctrl, Alt], key: Some("Down")): MoveToNextOutput,
        (modifiers: [Super, Ctrl, Alt], key: Some("Up")): MoveToPreviousOutput,
        (modifiers: [Super, Ctrl, Alt], key: Some("j")): MoveToNextOutput,
        (modifiers: [Super, Ctrl, Alt], key: Some("k")): MoveToPreviousOutput,

        (modifiers: [Super], key: Some("Period")): NextOutput,
        (modifiers: [Super], key: Some("Comma")): PreviousOutput,
        (modifiers: [Super, Shift], key: Some("Period")): MoveToNextOutput,
        (modifiers: [Super, Shift], key: Some("Comma")): MoveToPreviousOutput,

        (modifiers: [Super], key: Some("Left")): Focus(Left),
        (modifiers: [Super], key: Some("Right")): Focus(Right),
        (modifiers: [Super], key: Some("Up")): Focus(Up),
        (modifiers: [Super], key: Some("Down")): Focus(Down),
        (modifiers: [Super], key: Some("h")): Focus(Left),
        (modifiers: [Super], key: Some("j")): Focus(Down),
        (modifiers: [Super], key: Some("k")): Focus(Up),
        (modifiers: [Super], key: Some("l")): Focus(Right),
        (modifiers: [Super], key: Some("u")): Focus(Out),
        (modifiers: [Super], key: Some("i")): Focus(In),

        (modifiers: [Super, Shift], key: Some("Left")): Move(Left),
        (modifiers: [Super, Shift], key: Some("Right")): Move(Right),
        (modifiers: [Super, Shift], key: Some("Up")): Move(Up),
        (modifiers: [Super, Shift], key: Some("Down")): Move(Down),
        (modifiers: [Super, Shift], key: Some("h")): Move(Left),
        (modifiers: [Super, Shift], key: Some("j")): Move(Down),
        (modifiers: [Super, Shift], key: Some("k")): Move(Up),
        (modifiers: [Super, Shift], key: Some("l")): Move(Right),

        (modifiers: [Super], key: Some("o")): ToggleOrientation,
        (modifiers: [Super], key: Some("s")): ToggleStacking,
        (modifiers: [Super], key: Some("y")): ToggleTiling,
        (modifiers: [Super], key: Some("g")): ToggleWindowFloating,
        (modifiers: [Super], key: Some("x")): SwapWindow,

        (modifiers: [Super], key: Some("m")): Maximize,
        (modifiers: [Super], key: Some("r")): Resizing(Outwards),
        (modifiers: [Super, Shift], key: Some("r")): Resizing(Inwards),

        //TODO: ability to select default web browser
        (modifiers: [Super], key: Some("b")): Spawn("firefox"),
        //TODO: ability to select default file browser
        (modifiers: [Super], key: Some("f")): Spawn("nautilus"),
        //TODO: ability to select default terminal
        (modifiers: [Super], key: Some("t")): Spawn("gnome-terminal"),
        
        (modifiers: [Super], key: Some("a")): Spawn("busctl --user call com.system76.CosmicAppLibrary /com/system76/CosmicAppLibrary com.system76.CosmicAppLibrary Toggle"),
        (modifiers: [Super], key: Some("w")): Spawn("busctl --user call com.system76.CosmicWorkspaces /com/system76/CosmicWorkspaces com.system76.CosmicWorkspaces Toggle"),
        (modifiers: [Super], key: Some("slash")): Spawn("busctl --user call com.system76.CosmicLauncher /com/system76/CosmicLauncher com.system76.CosmicLauncher Toggle"),
        (modifiers: [Super], key: None): Spawn("busctl --user call com.system76.CosmicLauncher /com/system76/CosmicLauncher com.system76.CosmicLauncher Toggle"),


        (modifiers: [], key: Some("XF86AudioRaiseVolume")): Spawn("amixer sset Master 5%+"),
        (modifiers: [], key: Some("XF86AudioLowerVolume")): Spawn("amixer sset Master 5%-"),
        (modifiers: [], key: Some("XF86AudioMute")): Spawn("amixer sset Master toggle"),
        (modifiers: [], key: Some("XF86MonBrightnessUp")): Spawn("busctl --user call com.system76.CosmicSettingsDaemon /com/system76/CosmicSettingsDaemon com.system76.CosmicSettingsDaemon IncreaseDisplayBrightness"),
        (modifiers: [], key: Some("XF86MonBrightnessDown")): Spawn("busctl --user call com.system76.CosmicSettingsDaemon /com/system76/CosmicSettingsDaemon com.system76.CosmicSettingsDaemon DecreaseDisplayBrightness"),
    },
    workspace_mode: OutputBound,
    workspace_amount: Dynamic,
    workspace_layout: Vertical,
    tiling_enabled: false,
)
