Source: cosmic-comp
Section: x11
Priority: optional
Maintainer: Victoria Brekenfeld <victoria@system76.com>
Build-Depends:
    cargo,
    debhelper-compat (=10),
    rustc (>=1.57),
    libudev-dev,
    libegl1-mesa-dev,
    libgl1-mesa-dri,
    libgbm-dev,
    libinput-dev,
    libwayland-dev,
    libxcb1-dev,
    libxkbcommon-dev,
    libsystemd-dev,
    libseat-dev
Standards-Version: 4.1.1
Homepage: https://github.com/pop-os/cosmic-comp
Package: cosmic-comp
Architecture: amd64 arm64
Depends:
    ${misc:Depends},
    ${shlibs:Depends},
    libegl1,
    libgl1-mesa-dri,
    libudev,
    libinput,
    libgbm,
    libwayland,
    libxcb1,
    libxkbcommon,
    libsystemd,
    libseat
Recommends:
    cosmic-session
Description: Wayland compositor of pop-os cosmic shell
