#!/usr/bin/make -f

export sysconfdir = "/usr/share"
export VENDOR ?= 1
CLEAN ?= 1

%:
	dh $@ --with=systemd

override_dh_auto_clean:
ifeq ($(CLEAN),1)
	just clean
endif
ifeq ($(VENDOR),1)
	ischroot || just rootdir=debian/cosmic-comp debug=$(DEBUG) vendor=$(VENDOR)
endif

override_dh_installinit:
	dh_installinit -r

override_dh_systemd_start:
	dh_systemd_start -r

