#!/usr/bin/make -f

DESTDIR = debian/cosmic-comp
export VENDOR ?= 1

%:
	dh $@ --with=systemd

override_dh_auto_clean:
	if ! ischroot && test "${VENDOR}" = "1"; then \
		just vendor; \
	fi

override_dh_auto_build:
	just build-vendored

override_dh_auto_install:
	just rootdir=$(DESTDIR) install

override_dh_installinit:
	dh_installinit -r

override_dh_systemd_start:
	dh_systemd_start -r