[Desktop Entry]
Name=Debug Cosmic
Commment=This session logs you into Cosmic
Exec=/usr/bin/debug-cosmic-service
Type=Application
DesktopNames=pop:COSMIC
X-GDM-SessionRegisters=false