name: "Build"
on:
  pull_request:
    branches:
    - master_jammy
  push:
    branches:
    - master_jammy
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v21
      with:
        nix_path: nixpkgs=channel:nixpkgs-unstable
    - run: |
        nix build --accept-flake-config
        git lfs logs last
    - run: nix flake check
